<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <!-- carregar parcial navbar, el creem com a parcial per poder-lo reutilitzar -->
    <%- include('./partials/header') %>
        <h1>Añade una nueva imagen</h1>
        <form class="container" action="/new-image" method="post">
            <label for="title" class="form-label">Título</label>
            <input type="text" name="title" id="title">
            <label for="url">Añade un enlace</label>
            <input type="url" name="url" id="url">
            <input type="submit" value="Añade una imagen">
            <label for="date" class="form-label">Fecha</label>
            <input type="date" name="date" id="date">
        </form>
        <% if (message !=undefined) { %>
            <section>
                <p>
                    <%= message %>
                </p>
            </section>
            <% } %>
                <%- include('./partials/footer') %>
                    <script>
                        
                    </script>
</body>

</html>