body {
    background-color: #310a0e !important;
}

.bg {
    background-image: url();
}

.bg-red {
    background-color: #dc3545;

}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #f3cc8a !important;
}

a {
    color: #f3cc8a !important;
}



.error {
    background-color: #dc3545;
    color: #ffe0e0;
    padding: 10px;
    border: 1px solid #ffe0e0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.success {
    background-color: #28a745;
    color: #e0ffe0;
    padding: 10px;
    border: 1px solid #e0ffe0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.card img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    text-transform: capitalize;
}
